// SIZE
$xxs: 6rem;
$xs-size: 1.2rem;
$sm-size: 1.4rem;
$m-size: 1.6rem;
$lg-size: 2rem;
$xl-size: 2.4rem;

// text size

.text{
    &--xs{
    font-size: $xs-size;
    }
    &--sm{
	font-size: $sm-size;
	}
	&--lg{
	font-size: $m-size;
	}
}

